<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibopar" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".DetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <receiver android:name="com.ibopar.business.ProgramacaoBroadcast" >
            <intent-filter >
                <action android:name="CONFIG_ALARM_PROXIMA_PROGRAMACAO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.ibopar.business.AvaliacaoBroadcast" >
            <intent-filter >
                <action android:name="CONFIG_ALARM_LIBERACAO_AVALIACAO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>



</manifest>
